body {
    background-color: rgb(255, 69, 69);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.topnav {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
}

.topnav li {
    list-style: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 12px 14px;
    margin: 0 12px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}


.topnav li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.topnav li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

.topnav li a { 
    display: block; 
    color: white; 
    text-decoration: none; 
}

ul.topnav li:hover a {
  color: black;
  font-size: larger;
}

ul.topnav li a.active {
  color: black;
  font-size: larger;
}